
<div class="d-flex">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    
    <!-- Container -->
    <div class="container">
        
        <div class="row p-3">
            <div class="col">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar GIFs...">
            </div>
        </div>
        <hr/>
        <div class="row p-3">
            <div class="col">
                NOT IMPLEMENTED YET! NOT IMPLEMENTED YET! NOT IMPLEMENTED YET! NOT IMPLEMENTED YET! NOT IMPLEMENTED YET! 
            </div>    
        </div>
    </div>
    <!-- End Container -->
</div>